.message{
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}
.messageInfo{
  margin-left: 20px
}
.messageTimestamp{
  color: gray;
  margin-left: 20px;
  font-size: x-small;/*extra small*/
}
